
.bagel-menu, 
.cocktail-menu,
.burger-menu,
.desserts-menu,
.product-menu {
  /* border: 2px solid #282c34; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.bagel-item,
.cocktail-item,
.burger-item,
.desserts-item,
.product-item {
  /* border: 2px solid #d62240; */
  padding: 10px;
  flex: 0 0 300px;
  /* width: 300px; */
  width: 300px;
  transition: transform 0.3s;
}

.bagel-item:hover,
.cocktail-item:hover,
.burger-item:hover,
.desserts-item:hover,
.product-item:hover {
  transform: scale(1.03);
}

.item-description {
  border: 2px solid #d3d3d3;
  border-radius: 0 0 20px 20px;
  height: 265px;
}
.item-description p {
  /* border: 2px solid blue; */
  max-width: 300px;
  padding-left: 10px;
}

.description-and-price {
  /* border: 2px solid blue; */
  height: 140px;
  display: flex;
  flex-direction: column;
}

.description {
  /* border: 2px solid salmon; */
  min-height: 75px;
}

.price {
  /* border: 2px solid orange; */
  margin-top: -5px;
}

/* .bagel-item p,
.cocktail-item p,
.burger-item p ,
.desserts-item p {
  text-align: left;
  width: 300px;
} */

.bagel-item img,
.cocktail-item img,
.burger-item img,
.desserts-item img,
.product-item img {
  vertical-align: top;
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.mister-chicken-image {
  object-position: center 70%; 
}
.cocktail-item img {
  object-position: center 25%;
}
.pistachio-ice-cream-image,
.tiramisu-image {
  object-position: center 15%;
}
.tiramisu-image {
  object-position: center 5%;
}
.creme-brulee-image {
  object-position: center 75%; 
}


.top-of-main-page {
  /* border: 2px solid pink;  */
  /* display: flex;
  flex-direction: column; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white; /* Вы можете настроить цвет фона по вашему выбору */
  z-index: 1000;
  border-bottom: 2px solid #d3d3d3; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  height: 100px;
}
.top-of-main-page h2 {
  position: relative;
  top: -30px;
  color:black;
  font-size: 30px;
  text-align: left;
  margin-left: 20px;
}

/* .header-link {
  text-decoration: none;
  color: black;
} */

.ul-of-header {
  position: relative;
  top: -70px;
  /* border: 2px solid pink; */
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  list-style: none;
  gap: 10px;
  overflow: auto;
  white-space: nowrap;
}

/* .ul-of-header li {
  list-style: none;
  border-radius: 15px;
  padding: 5px 10px;
  font-weight: bold;
  border: 1px solid #d3d3d3;
} */

.ul-of-header li:not(.active) a{
  text-decoration: none;
  list-style: none;
  color: #000;
  border-radius: 15px;
  padding: 5px 10px;
  font-weight: bold;
  border: 1px solid #d3d3d3;
}
.active {
  background-color: orange;
}

.content {
  padding-top: 110px;
}
.name-and-add-button {
  /* border: 2px solid red;  */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
  justify-content: space-between;
  height: 125px;
}
.name-and-add-button h2 {
  width: 200px;
}

.name-and-add-button button { 
  cursor: pointer;
  margin-right: 35px;
  border: 1px solid orange;
  background-color: orange;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
}

.name-and-add-button button:active {
  background-color: black;
  border-color: black;
  color: white;
  transform: translateY(2px);
}


.search {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.name-del-button-cart button {
  color: #949494;
}

.cart-button {
    position: fixed;
    top: 20px;
    right: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    border: none;
    background-color:transparent;
  }

  .img-logo {
    width: 60px;
  }

  .cart-num {
  position: absolute;
  background-color: #d62240;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  top: -15px;
  right: -10px;
  }

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content:left;
  align-items: center;
  margin-bottom: 20px; 
  /* border:  2px solid red;  */
}

.product-image {
  width: 100px;
  border-radius: 10px;
  margin-right: 10px;
}

.product-price {
  font-weight: bold;
  /* border: 2px solid green; */
}

.buttons-cart {
  /* border: 2px solid yellow; */
  margin-top: 10px;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  max-width: 70px;
  
}
.buttons-cart button {
  background-color: orange;
  border: none;
}
.left-button {
  border-radius: 40% 2px 2px 40%;
}

.right-button {
  border-radius: 2px 40% 40% 2px;
}

.name-del-button-cart {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  min-width: 200px;
  margin-bottom: 15px;
  justify-content: space-between;
  /* border: 2px solid pink; */
}

.name-del-button-cart button {
  background: none;
  border: none;
  font-size: 20px;
}

/* .total-cost { 
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
} */
/* .proceed-button {
 position: absolute;
 margin-top: 50px;
 padding-bottom: 40px;
} */


.payment-button {
  /* position: absolute; */
  margin-top: 50px;
  padding-bottom: 40px;
}
.payment-button button {
  padding: 10px 50px;
  border-radius: 50px;
  color: black;
  background-color: orange;
  border: 2px solid orange;
  font-size: 16px;
  font-weight: bold;
}

.payment-button button a {
  text-decoration: none;
  color: black;
}

.payment-button button:active {
  box-shadow: 0 1px 2px 0 rgb(26 115 232 / 45%), 0 2px 6px 2px rgb(26 115 232 / 30%);
}
.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
  border: 2px solid black;
  background-color: orange;
  border-radius: 10px;
  z-index: 10;
  width: 250px;
  height: 150px;
  max-width: 80%;
}

.modal-header{
  padding: 10px 16px;
  display: flex;
  justify-content: end;
}

.modal-header .close-modal-button {
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
}

.modal-body {
  padding: 10px 16px;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

#overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

button:hover {
  cursor: pointer;
}
 

.results-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-search {
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  border-radius: 20px 0 0 20px;
  border: 1px solid #d3d3d3;
}
.search-button {
  background-color: orange;
  padding: 5px;
  border: 1px solid orange;
}
.search-link {
  text-decoration: none;
  color: black;
}
.clear-button {
  background-color: black;
  color: orange;
  border-radius: 0 40% 40% 0;
  padding: 5px 10px;
  border: 1px solid black;
}

.registration-form {
  border: 1px solid  #d3d3d3;
  background-color: #d3d3d3;;
  width: 750px;
  height: 420px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  min-width: 40%;
  padding-left: 50px;
  /* border: 2px solid pink; */
}

.logoImg {
  min-width: 40%;
  padding-right: 50px;
  /* border: 2px solid blue; */
}
.logoImg img {
  max-width: 350px;
  border-radius: 50%;
}
.form label {
  font-size: 14px;
}
.form input {
  border: 1px solid grey;
  border-radius: 8px;
  padding: 5px 10px;
}
.form button {
  margin-top: 50px;
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
  background-color: black;
  border: 2px solid black;
  font-size: 16px;
  font-weight: bold;
}